<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sertifikat Massal</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>
<body>

<div class="bg">
    <div class="content">
        <h1>Sertifikat Massal</h1>
        <p class="ukb" >Alat sederhana untuk membantu anda menghasilkan sertifikat secara massal</p>
        <a class="btn" href="/unggah-desain"><!--/unggah-desain-->Hasilkan Sertifikat Massal</a>
        <br>
        <br>
        <br>
        <a class="btn" href="/validasi"><!--/validasi-->Validasi Sertifikat</a>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<p class="copyright">© Dirilis 2021</p>

{% extends 'aman.html' %}

</body>
</html>