<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Tutorial</title>
    <link rel="stylesheet" href="assets/css/tutorial.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body>
<div class="text-tutorial">
        <div class="container">
            <div class="judul-tutorial">

                <h2>TUTORIAL</h2>

            </div>
            <div class="skill-row" style="text-align: center;">
                <hr class="line-tutorial-atas">
                <h3>🔘Mulai Hasilkan Sertifikat Massal🔘</h3>
                <hr class="line-tutorial-bawah">
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">Anda dapat memulai membuat sertifikat secara massal dengan bantuan alat kami</p>
                <br>
                <p style="margin-left: 10%; margin-right: 10%; text-align: center;">*OS Windows, Microsoft Word</p>
            
            
            <video style="position: relative; display:block; margin: 0 auto;" width="320" height="240" playsinline autoplay muted loop>
                <source src="assets/video/home.mkv" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            </div>

            <div class="skill-row">
                <hr class="line-tutorial-atas">
                <h3>🔘Unggah Desain Sertifikat Anda🔘</h3>
                <hr class="line-tutorial-bawah">
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">Anda dapat membuat Desain sertifikat sesuka anda pada workspace dokumen anda sendiri</p>
                <br>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">Ketentuan :</p>
                <br>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">✅ Desain Sertifikat dibuat dengan word berformat .docx</p>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">✅ Alat kami hanya akan mengubah variabel yang ditulis langsung pada file document anda</p>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;"><a href="#valid">✅ Buat Sertifikat anda Diakui</a></p>
                <br>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">✔ ditulis langsung </p>
                <video style="position: relative; display:block; margin: 0 auto;" playsinline autoplay muted loop>
                    <source src="assets/video/benar.mkv" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <br>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">❌ tidak ditulis langsung </p>
                    <video style="position: relative; display:block; margin: 0 auto;" playsinline autoplay muted loop>
                        <source src="assets/video/salah.mkv" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                <br>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">✅ Jika sudah sesuai mulailah untuk mengunggah desain sertifikat anda</p>
                <br>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">📢contoh <a href="https://drive.google.com/uc?export=download&id=1-G3FQFo4g231gzGN8ExfPyp4M1pbCtvY"><h3>Desain-Sertifikat.docx</h3></a></p>
                
                <br>
                <br>

            

            <video style="position: relative; display:block; margin: 0 auto;" width="320" height="240" playsinline autoplay muted loop>
                <source src="assets/video/unggah-desain.mkv" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            </div>

            <div class="skill-row">
                <hr class="line-tutorial-atas">
                <h3>🔘Pastikan Variabel Sesuai🔘</h3>
                <hr class="line-tutorial-bawah">
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">Halaman ini akan menampilkan variabel-variabel apa saja yang dapat diubah sesuai data excel yang akan anda unggah nanti</p>
                <br>
                <div class="gambar-tutorial">
                    <img class="lebarpng" src="assets/tutorial.png" alt="tutorial.png">
                </div>
                <br>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">pastikan variabel pada dokumen dengan variabel pada excel sesuai ya, jika sudah siap anda bisa klik selanjutnya</p>
                <br>
            

            <video style="position: relative; display:block; margin: 0 auto;" width="320" height="240" playsinline autoplay muted loop>
                <source src="assets/video/ubah-variabel.mkv" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            </div>

            <div class="skill-row">
                <hr class="line-tutorial-atas">
                <h3>🔘Unggah Data Sertifikat Anda🔘</h3>
                <hr class="line-tutorial-bawah">
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">Ketentuan :</p>
                <br>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">✅ Data Sertifikat dibuat dengan excel berformat .xlxs</p>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">✅ Kolom pertama pada file excel akan menjadi nama file pdf sertifikat</p>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">✅ Data pada excel harus bertipe data String</p>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">✅ Klik Unggah Data dan Tunggu File Anda sedang diproses</p>
                <br>
                
                <video style="position: relative; display:block; margin: 0 auto;" playsinline autoplay muted loop>
                    <source src="assets/video/benar.mkv" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <br>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">📢contoh <a href="https://drive.google.com/uc?export=download&id=11msKvDj_04MPwgNVL9D4Tb1w_POm8A_x"> <h3>Data-excel-Sertifikat.docx</h3></a></p>
            

            <br>
            <br>

            <video style="position: relative; display:block; margin: 0 auto;" width="320" height="240" playsinline autoplay muted loop>
                <source src="assets/video/unggah-data.mkv" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            </div>

            <div class="skill-row">
                <hr class="line-tutorial-atas">
                <h3>🔘Unduh Hasil🔘</h3>
                <hr class="line-tutorial-bawah">
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">Anda dapat langsung mengunduh hasil sertifikat massal</p>
            

            <video style="position: relative; display:block; margin: 0 auto;" width="320" height="240" playsinline autoplay muted loop>
                <source src="assets/video/unduh-file.mkv" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            </div>

            <div class="skill-row">
                <hr class="line-tutorial-atas">
                <h3>🔘Mengubah Hasil menjadi PDF🔘</h3>
                <hr class="line-tutorial-bawah">
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">Anda dapat mengubah semua file DOCX menjadi PDF</p>
                <br>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">✅ Ekstrak File ZIP</p>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">✅ klik kanan pada file TEST.Ps1</p>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">✅ RUN with Powershall</p>   
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">✅ Ketik "Y" jika ditanya</p>           
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">✅ Tunggu Proses berjalan</p> 

            <video style="position: relative; display:block; margin: 0 auto;" width="320" height="240" playsinline autoplay muted loop>
                <source src="assets/video/docxtopdf.mkv" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            </div>

            <br>

            <div class="skill-row" id="valid">
                <hr class="line-tutorial-atas">
                <h3>🔘Buat Sertifikat Diakui🔘</h3>
                <hr class="line-tutorial-bawah">
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">Membuat sertifikat yang anda buat diakui dengan menambahkan fitur QR Code dan ID Sertifikat pada desain Anda. Scan QR Code dan cek ID Sertifikat Anda</p>
                <br>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">💌 Daftarkan Lembaga Anda dan dapatkan ID Sertifikat pada link berikut: <a style="color: darkorange;" href="https://forms.gle/zsbTF2au38HztY479"><h3>Daftar</h3></a></p>
                <br>
                <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">💌 Cantumkan QR Code pada Desain Anda<a style="color: darkorange;" href="https://drive.google.com/uc?export=download&id=1cAm48I1j7IQo1sJZ910hEQRCutuwKohd"><h3>QR Code</h3></a></p>

            </div>

            <br>

            <h2 style="font-size: 1.5rem;"></h2>
            <p>💗</p>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            


        </div>
</div>
{% extends 'aman.html' %}
</body>
</html>