<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variabel sertifikat</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body>

<div class="bg">
    <div class="content content-judul">
        <div class="main-content">
            <p class="judul judulukhp judulf">{{ UploadFileMessage }}</p>
            <p class="var-ubah">Variabel yang bisa diubah:</p>
            <ul class="nobullet">
                {% for item in data %}
                <li style="display: inline;">{{item}}</li><br>
            
                {% endfor %}
            </ul>

            <a class="btn btn-mulai" href="/unggah-data-excel"><!--/unggah-data-excel-->Selanjutnya</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </div>
    </div>
</div>
<p class="copyright pluss">© Dirilis 2021</p>
</body>
</html>
<!-- Foto diambil dari Lukas dari license PEXELS  -->