<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unggah Data</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body>

<div class="bg">
    <div class="content">
        {{flash}}
        <h1>Unggah Data Sertifikat</h1>
        <form class="form-unggah" action="/uploadexcelsuccess" method="POST" enctype="multipart/form-data" ><!--/uploadexcelsuccess-->
            <input type="file" name="ExcelFile" accept=".xlsx">
            <input class="btn btn-unggah" type="submit" value="Unggah file .XLSX">
        </form>
        <br>
        <br>
        <br>
    </div>
</div>
<p class="copyright pluss">© Dirilis 2021</p>
</body>
</html>